In [0]:
from pyspark.sql.functions import col, sum
from pyspark.sql.types import IntegerType, DoubleType, DateType, StringType

In [0]:
configs = {
  "fs.azure.account.auth.type": "CustomAccessToken",
  "fs.azure.account.custom.token.provider.class": spark.conf.get("spark.databricks.passthrough.adls.gen2.tokenProviderClassName")
}

directory_to_check = "/mnt/silver"
mounted_directories = [mount.mountPoint for mount in dbutils.fs.mounts()]

if directory_to_check in mounted_directories:
    print(f"The directory {directory_to_check} is already mounted.")
else:
    dbutils.fs.mount(
    source = "abfss://bronze@youtubeadlsg2.dfs.core.windows.net/",
    mount_point = "/mnt/silver",
    extra_configs = configs)

The directory /mnt/silver is already mounted.

In [0]:
df = spark.read.format('delta').load('/mnt/silver/data/')

In [0]:
df.show(5)

+----+--------------------+-----------+-----------+----------------+--------------------+-------+-------------+------------+-------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+-----------------------------------+----------+-----------------+----------------+---------+----------+
|rank|            Youtuber|subscribers|video_views|        category|               Title|uploads|      Country|Abbreviation| channel_type|video_views_rank|country_rank|channel_type_rank|video_views_for_the_last_30_days|lowest_monthly_earnings|highest_monthly_earnings|lowest_yearly_earnings|highest_yearly_earnings|subscribers_for_last_30_days|created_year|created_month|created_date|Gross_tertiary_education_enrollment|Population|Unemployment_rate|Urban_population| Latitude| Longitude|
+----+--------------------+-----------+-----------+----------------+--------------------+-------+-------------+------------+-------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+-----------------------------------+----------+-----------------+----------------+---------+----------+
|   1|            T-Series|  245000000|   2.28E+11|           Music|            T-Series|  20082|        India|          IN|        Music|               1|           1|                1|                      2258000000|                 564600|                 9000000|               6800000|              108400000|                     2000000|        2006|          Mar|          13|                               28.1|1366417754|             5.36|       471031528|20.593684|  78.96288|
|   2|      YouTube Movies|  170000000|          0|Film & Animation|       youtubemovies|      1|United States|          US|        Games|         4055159|        7670|             7423|                              12|                      0|                    0.05|                  0.04|                   0.58|                         nan|        2006|          Mar|           5|                               88.2| 328239523|             14.7|       270663028| 37.09024|-95.712891|
|   3|             MrBeast|  166000000|28368841870|   Entertainment|             MrBeast|    741|United States|          US|Entertainment|              48|           1|                1|                      1348000000|                 337000|                 5400000|               4000000|               64700000|                     8000000|        2012|          Feb|          20|                               88.2| 328239523|             14.7|       270663028| 37.09024|-95.712891|
|   4|Cocomelon - Nurse...|  162000000|   1.64E+11|       Education|Cocomelon - Nurse...|    966|United States|          US|    Education|               2|           2|                1|                      1975000000|                 493800|                 7900000|               5900000|               94800000|                     1000000|        2006|          Sep|           1|                               88.2| 328239523|             14.7|       270663028| 37.09024|-95.712891|
|   5|           SET India|  159000000|   1.48E+11|           Shows|           SET India| 116536|        India|          IN|Entertainment|               3|           2|                2|                      1824000000|                 455900|                 7300000|               5500000|               87500000|                     1000000|        2006|          Sep|          20|                               28.1|1366417754|             5.36|       471031528|20.593684|  78.96288|
+----+--------------------+-----------+-----------+----------------+--------------------+-------+-------------+------------+-------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+-----------------------------------+----------+-----------------+----------------+---------+----------+
only showing top 5 rows

In [0]:
df.select(*(sum(col(c).isNull().cast("int")).alias(c) for c in df.columns)).show()

+----+--------+-----------+-----------+--------+-----+-------+-------+------------+------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+-----------------------------------+----------+-----------------+----------------+--------+---------+
|rank|Youtuber|subscribers|video_views|category|Title|uploads|Country|Abbreviation|channel_type|video_views_rank|country_rank|channel_type_rank|video_views_for_the_last_30_days|lowest_monthly_earnings|highest_monthly_earnings|lowest_yearly_earnings|highest_yearly_earnings|subscribers_for_last_30_days|created_year|created_month|created_date|Gross_tertiary_education_enrollment|Population|Unemployment_rate|Urban_population|Latitude|Longitude|
+----+--------+-----------+-----------+--------+-----+-------+-------+------------+------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+-----------------------------------+----------+-----------------+----------------+--------+---------+
|   0|       0|          0|          0|       0|    0|      0|      0|           0|           0|               1|           0|                0|                               0|                      0|                       0|                     0|                      0|                           0|           0|            0|           0|                                  0|         0|                0|               0|       0|        0|
+----+--------+-----------+-----------+--------+-----+-------+-------+------------+------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+-----------------------------------+----------+-----------------+----------------+--------+---------+

In [0]:
duplicates = df.dropDuplicates()

In [0]:
duplicates

Out[26]: DataFrame[rank: string, Youtuber: string, subscribers: string, video_views: string, category: string, Title: string, uploads: string, Country: string, Abbreviation: string, channel_type: string, video_views_rank: string, country_rank: string, channel_type_rank: string, video_views_for_the_last_30_days: string, lowest_monthly_earnings: string, highest_monthly_earnings: string, lowest_yearly_earnings: string, highest_yearly_earnings: string, subscribers_for_last_30_days: string, created_year: string, created_month: string, created_date: string, Gross_tertiary_education_enrollment: string, Population: string, Unemployment_rate: string, Urban_population: string, Latitude: string, Longitude: string]

In [0]:
numeric_columns = ["subscribers", "video_views", "video_views_rank", "country_rank", 
                    "channel_type_rank", "video_views_for_the_last_30_days",
                    "lowest_monthly_earnings", "highest_monthly_earnings", 
                    "lowest_yearly_earnings", "highest_yearly_earnings", 
                    "subscribers_for_last_30_days", "Gross_tertiary_education_enrollment", 
                    "Population", "Unemployment_rate"]

for column in numeric_columns:
    df = df.withColumn(column, col(column).cast(DoubleType()))

# Validate and convert date columns (assuming date columns are in a specific format)
date_columns = ["created_year", "created_month", "created_date"]

for column in date_columns:
    df = df.withColumn(column, col(column).cast(DateType()))

# Validate and convert categorical columns if needed (e.g., converting to StringType)
categorical_columns = ["Youtuber", "category", "Title", "Country", "Abbreviation", "channel_type"]

for column in categorical_columns:
    df = df.withColumn(column, col(column).cast(StringType()))

In [0]:
duplicate_columns = ['Youtuber', 'Country']

df_no_duplicates = df.dropDuplicates(subset=duplicate_columns)

In [0]:
configs = {
  "fs.azure.account.auth.type": "CustomAccessToken",
  "fs.azure.account.custom.token.provider.class": spark.conf.get("spark.databricks.passthrough.adls.gen2.tokenProviderClassName")
}

directory_to_check = "/mnt/gold"
mounted_directories = [mount.mountPoint for mount in dbutils.fs.mounts()]

if directory_to_check in mounted_directories:
    print(f"The directory {directory_to_check} is already mounted.")
else:
    dbutils.fs.mount(
    source = "abfss://gold@youtubeadlsg2.dfs.core.windows.net/",
    mount_point = "/mnt/gold",
    extra_configs = configs)

In [0]:
output_path = '/mnt/gold/data'
df_no_duplicates.write.format('delta').mode('overwrite').save(output_path)